# 忽略 node_modules
node_modules

# 忽略构建输出
dist
build
out

# 忽略环境变量文件
.env
.env.local
.env.*.local

# 忽略日志文件
logs
*.log

# 忽略系统文件
.DS_Store

# 忽略 IDE 文件
.idea
.vscode

# 这行确保 `package-lock.json` 不被忽略
!.package-lock.json
